# Ignore the vendor directory.
/vendor/

# Ignore the directories used from frontend tools.
node_modules/
bower_components/

# Ignore Emacs files.
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# Ignore the PHPStorm settings directory.
/.idea/

# Ignore the Visual Studio Code settings directory.
/.vscode
