{#
/**
 * @file
 * Template for the pricing feature paragraph.
 */
#}
{# This template is used when displaying individual features outside of a card #}
<div{{ attributes.addClass('pricing-feature') }}>
  {% if content.field_feature_enabled.value == '1' %}
    <svg class="inline-flex-shrink-0" style="color: #16a34a;" width="12" height="12" fill="currentColor" viewBox="0 0 20 20">
      <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
    </svg>
  {% else %}
    <svg class="inline-flex-shrink-0" style="color: #ef4444;" width="12" height="12" fill="currentColor" viewBox="0 0 20 20">
      <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
    </svg>
  {% endif %}
  <span class="{{ content.field_feature_enabled.value == '1' ? 'text-slate-700' : 'text-slate-400' }}">
    {{ content.field_feature_label.0 }}
  </span>
</div>
