{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    'clearfix',
  ]
%}
 <div{{ attributes.addClass(classes) }}>
 	{{ title_prefix }}
    {{ title_suffix }}
 	{{ content }}
 </div>